.white-board {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.main-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px; /* mexe aqui ♥ */
  margin-top: 140px;
}

.text-container {
  background-color: white;
  width: 650px;
  height: 550px;
  border-radius: 32px;
}

.centralizar-graphs-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}

.background-image-container {
  position: absolute;
  background-color: white;
  width: 650px; /*largura */
  height: 550px; /*altura */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  border-radius: 32px;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.centralizar-graphs {
  position: relative;
  z-index: 1; /* O gráfico ficará acima da imagem */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 450px;
  margin-left: 16px;
}
