.Nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #00282E;
  padding: 15px;
}

.Button a {
  background-color: #00282E;
  color: rgb(113, 175, 43);
  padding: 15px;
  font-family: "URW Gothic L", "sans-serif";
  text-decoration: none;
  border: none; /* Remove qualquer borda existente */
  border-bottom: 2px solid rgb(113, 175, 43); /* Adiciona borda inferior */
  margin: 0 10px; /* Adiciona margens laterais para espaçamento */
}

/* Para centralizar os títulos */
.Nav h1, .Nav h2, .Nav h3 { /* Ajuste para o nível de título que você está usando */
  flex: 15; /* Permite que o título ocupe espaço no flex container */
  text-align: center; /* Centraliza o texto */
  color: rgb(113, 175, 43); /* Cor do texto do título, caso deseje */
  margin: 10; /* Remove margens padrão */
}


.Link {
  pointer-events: none;
}
.MyLogo {
  display: flex;
}

@media screen and (max-width: 800px) {
  .Button a {
    background-color: black;
    color: rgb(126, 210, 30);
    padding: 15px;
    font-family: "Courier New", Courier, monospace;
    text-decoration: none;
    display: flex;
  }


  .Nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    padding: 15px;
  }
}
