* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #3b5998;
}

.login-box {
  background-color: #2d4373;
  padding: 40px; /* Aumentando o padding */
  border-radius: 10px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  width: 350px; /* Aumentando a largura */
  text-align: center;
}

.profile-icon {
  width: 70px; /* Aumentando o tamanho do ícone */
  height: 70px;
  background-color: #f0f0f0;
  border-radius: 50%;
  margin: 0 auto 25px auto;
}

.userInputBody {
  margin-bottom: 25px; /* Aumentando o espaço entre os campos */
}

.userInputBody label {
  display: block;
  color: #ffffff;
  font-size: 1.1em; /* Aumentando o tamanho da fonte do label */
  margin-bottom: 8px;
}

.input-field {
  width: 100%;
  padding: 12px; /* Aumentando o padding do input */
  border: none;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
  color: #ffffff;
  font-size: 1.1em; /* Aumentando o tamanho da fonte */
  outline: none;
}

.input-field::placeholder {
  color: #cccccc;
}

.button {
  margin-top: 25px;
}

.login-button {
  width: 100%;
  padding: 12px; /* Aumentando o padding do botão */
  background-color: #4864a3;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 1.1em; /* Aumentando o tamanho da fonte do botão */
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button:hover {
  background-color: #36538a;
}